Python

pycache/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

Virtual Environments

venv/
env/
.venv/
.env/
*/venv/
/env/
.-env/

Environment files

.env
*.env

Database files

*.db
*.sqlite
*.sqlite3

Alembic

.alembic_cache/

IDE / Editor specific

.vscode/
.idea/
*.swp
*.swo

Test files

.pytest_cache/
coverage.xml
htmlcov/